<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.llj.demo">

    <application
        android:name="cn.com.llj.demo.DemoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 登录模块 -->
        <activity
            android:name="cn.com.llj.demo.HomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.com.llj.demo.activity.animation.ActivityAnimationDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.ScaleUpDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.llj.demo.activity.animation.TransitionDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.TransitionBlueDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SharedElementNoActionbarAppTheme" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.TransitionOrDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarAppTheme" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.TransitionRedDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarAppTheme" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.TransitionPurpleDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarAppTheme" />
        <activity
            android:name="cn.com.llj.demo.activity.attach.TransitionBlackDemo"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarAppTheme" />
    </application>

</manifest>
